<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>ID: </span>{{hero.id}}</div>
  <div class="detail-container">
    <div class = "detail-cell">
      <label for="member-name">Full name: </label>
      <input id="member-name" [(ngModel)]="hero.name" placeholder="Member name"/>
    </div>
    <div class = "detail-cell">
      <label for="member-age">Age: </label>
      <input id="member-age" [(ngModel)]="hero.age" placeholder="Member age"/>
    </div>
    <div class = "detail-cell">
      <label for="member-gender">Gender: </label>
      <input id="member-gender" [(ngModel)]="hero.gender" placeholder="Member Gender"/>
    </div>
    <div class = "detail-cell">
      <label for="member-mobile">Mobile Number: </label>
      <input id="member-mobile" [(ngModel)]="hero.mobile" placeholder="Member Mobile Number"/>
    </div>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
